################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/mipos/Debug
/examples/simu/helloworld/Debug
/examples/build
/examples/Debug
/examples/.vs/mipos_examples
/examples/simu/console/x64/Debug
/examples/simu/console/Debug
/mipos/x64/Debug
/examples/x64/Debug
/examples/simu/fatfs/x64/Debug
/examples/simu/filesystem/x64/Debug
/examples/simu/helloworld/x64/Debug
/examples/simu/multitask/x64/Debug
/examples/simu/timers/x64/Debug
/mipos/x64/Debug64/mipos.tlog
/mipos/x64/Debug64
/examples/simu/fatfs/Debug
/examples/simu/filesystem/Debug
/examples/simu/multitask/Debug
/examples/simu/timers/Debug
/examples/simu/console/x64/Release
/examples/x64/Release
/mipos/x64/Release
/examples/simu/fatfs/x64/Release
/examples/simu/filesystem/x64/Release
/examples/simu/helloworld/x64/Release
/examples/simu/multitask/x64/Release
/examples/simu/timers/x64/Release
/examples/simu/malloc/Debug
/examples/simu/malloc/x64/Debug
